setuptools
pandas<2.0.0,>=1.4.2
polars>=0.20.31,<1.0.0
numpy<2.0.0
cython
wheel
streamlit
clearbox-preprocessor
matplotlib
seaborn
click
scikit-learn
tqdm
joblib
lightgbm
xgboost
sphinx_rtd_theme
m2r2