clearbox-preprocessor
setuptools
pandas<=2.2.3
polars<=1.17.1
numpy<2.0.0
cython
wheel
streamlit
matplotlib
matplotlib-inline
seaborn
click
scikit-learn
tqdm
joblib
lightgbm
xgboost
sphinx_rtd_theme
myst_parser